{
    "extends": "eslint:recommended",
    "parserOptions": {
        "ecmaVersion": 9,
        "sourceType": "module"
    },
    "plugins": ["standard"],
    "globals": {},
    "rules": {
        "indent": ["warn", 4, {"SwitchCase": 1}],
        "semi": [2, "always"],
        "space-before-function-paren": ["error", "never"],
        "comma-dangle": "off",
        "getter-return": "error",
        "no-console": "off",
        "no-prototype-builtins": "error",
        "no-unused-vars": ["error", {"argsIgnorePattern": "_", "args": "after-used"}]
    },
    "env": {
        "browser": true,
        "mocha": true,
        "node": true,
        "es6": true
    }
}
